{% extends 'print_pdf_base.html' %}
{% load static %}

{% block name %}
	RECHNUNG
{% endblock %}

{% block Rechnungsbetrag %}
	<TR>
		<TD class="tr6 td0"><P class="p2 ft2">&nbsp;</P></TD>
		<TD class="tr6 td1"><P class="p2 ft2">&nbsp;</P></TD>
		<TD class="tr6 td2"><P class="p2 ft2">&nbsp;</P></TD>
		<TD class="tr6 td3"><P class="p2 ft2">&nbsp;</P></TD>
		<TD class="tr6 td4"><P class="p6 ft14">Rechnungsbetrag</P></TD>
		<TD class="tr6 td5"><P class="p2 ft2">&nbsp;</P></TD>
		<TD class="tr6 td15"><P class="p8 ft6">CHF 5’310.00</P></TD>
		<TD class="tr6 td16"><P class="p2 ft2">&nbsp;</P></TD>
	</TR>
	<TR>
		<TD class="tr5 td0"><P class="p2 ft8">&nbsp;</P></TD>
		<TD class="tr5 td1"><P class="p2 ft8">&nbsp;</P></TD>
		<TD class="tr5 td2"><P class="p2 ft8">&nbsp;</P></TD>
		<TD class="tr5 td3"><P class="p2 ft8">&nbsp;</P></TD>
		<TD class="tr5 td4"><P class="p6 ft5">Zahlbar bis</P></TD>
		<TD class="tr5 td5"><P class="p2 ft8">&nbsp;</P></TD>
		<TD class="tr5 td15"><P class="p8 ft6">22.02.2021</P></TD>
		<TD class="tr5 td16"><P class="p2 ft8">&nbsp;</P></TD>
	</TR>
{% endblock %}
